@use '../configuracoes/colors.scss';

.product-item {
  list-style: none;
  img {
    width: 100%;
    border-radius: 16px;
  }
}

.product-button {
  display: block;
  background-color: colors.$cor-btn;
  color: colors.$cor-texto;
  text-align: center;
  padding: 8px 0;
  border-radius: 8px;
  margin-top: 8px;
  text-decoration: none;

  &:hover{
    background-color: colors.$cor-btn-hover;
  }
}